
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Subscribe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <div>Just testing .....</div>
    <div >
     <ion-item-divider>
      <ion-label>Subscriptions</ion-label>
     </ion-item-divider>
   <ion-item *ngFor="let offering of offerings | async ">
      <ion-label class="ion-text-wrap">
        {{ offering.product.title }}
       
      </ion-label>
      <ion-button slot="end" fill="outline" (click)="buyPackage(offering)">
        {{ offering.product.price | number:'1.0-2' | currency: offering.product.currencyCode }}
      </ion-button>
    </ion-item>
      <ion-item>
        {{subscriptionStatus}}
      </ion-item>
    </div>
  </ion-list>
 
</ion-content>

