<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lessons!</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">
    <ion-button (click)="proMode()">proMode</ion-button>
 <!-- <ion-item *ngFor="let link of links; let i=index" [color]="i%2===0 ? 'tertiary' : 'primary'"  (click)="navigate(i+1,link.link, link.linkId)"   routerDirection="forward">
    <ion-label>   Lesson {{i+1}}. {{link.title}} <span *ngIf='link.unlocked' class="unlocked" > Pr</span> </ion-label>
    <p>{{link.typeOfPage}}</p>
  </ion-item>
<ion-button (click)="link()">Unlock</ion-button>-->
<ion-item class="homepage1" *ngFor="let link of links; let i=index" [color]="i%2===0 ? 'tertiary' : 'primary'"  (click)="navigate(i+1,link.link, link.linkId, link.locked)"   routerDirection="forward">
    <ion-label>   Lesson {{i+1}}. {{link.title}} <span *ngIf="link.locked && pro===false" class="locked"> Pro</span> </ion-label><!--pro===false is needed as it does not automatica;;y updates with user.pro-->
  
  </ion-item>
 </div>
</ion-content>
